@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url("https://use.typekit.net/izu1pqq.css");

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* upper part */

body{
    padding-right: 2%;
    padding-left: 2%;
    background-color: rgb(196, 196, 196);
}

.banner{
    float: left;
    width: 100%;
    color: aliceblue;
    background-color: rgb(23, 23, 68);
    padding: 1%;
    padding-left: 2%;
    border-left: 5px solid rrgb(23, 23, 68);
    border-bottom: 2px solid rgb(127, 186, 201) ;
}

header h1{
    float: left;
    width: 100%;  
    font-size: 40px;            
}

header p{
    font-size: 20px;
}

/* navegation menu */

nav{
    float: left;
    width: 100%;
    background-color: rgb(37, 63, 112);
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    text-align: left;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

li a:link, li a:visited, li a:active, li a{
    font-size: 30px;
    font-family: 'arvo', serif;
    text-decoration: underline;
    color: aliceblue;
}
li a:hover {
    color: grey;
    font-size: 31px;
}    

/* main content */

main{
    float: left;
    width: 65%;
}

section{
    background-color: grey;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

h2{
    font-size: 29px;
}

article{
    background-color: aliceblue;
    margin-top: 1%;
    padding: 2%;
}

h3{
    font-size: 22px;
}

header p{
    font-style: italic;
    font-size: 16px;
}

p{
    font-size: 17px;
}

/* lateral content */

aside {
    float: left;
    width: 35%;
    background-color: grey;
    padding: 2%;
    margin-top: 0.6%;
}

aside p{
    font-size: 20px;
}
/* botton content */

footer {
    float: left;
    width: 100%;
    background-color: rgb(37, 63, 112);
    padding: 5px;
    padding-left: 2%;
    font-size: 20px;
    color: aliceblue;
    margin-bottom: 1%
}